<div class="container-login">
    <div class="login">
        <h2>Panel de Administrador</h2>
        <div class="login-inputs">
            <div>
                <label>Usuario</label><input type="text" placeholder="Ingrese tu usuario" [(ngModel)]="inputUser">
            </div>
            <div>
                <label>Contraseña</label><input type="password" placeholder="Ingrese su Contraseña" [(ngModel)]="inputPassword">
            </div>
            <button (click)="inicio()">Aceptar</button>
        </div>
    </div>
</div>
